# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\personal\code\tianyafu-base-spring-cloud\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
